.titled-pane .title {
    -fx-background-color: #FFB100;
    -fx-background-radius: 0 0 0 0;
    -fx-border-width: 10px;
}

#firstTitlesPane .title{
    -fx-background-color: #FFB100;
    -fx-background-radius: 10 10 0 0;
    -fx-border-width: 10px;
}

#lastTitlesPane .title{
    -fx-background-color: #FFB100;
    -fx-background-radius: 0 0 10 10;
    -fx-border-width: 10px;
}

.titled-pane .title .arrow-button .arrow{
    -fx-background-color: #003844;
    -fx-effect: null;
}

.titled-pane .content{
    -fx-background-color: #FFB100;
    -fx-border-width: 0px;
}

.scroll-pane .scroll-bar:vertical .decrement-button .decrement-arrow,
.scroll-pane .scroll-bar:vertical .increment-button .increment-arrow,
.scroll-pane .scroll-bar:vertical,
.scroll-pane .scroll-bar:vertical .track{
    -fx-background-color: #006C67;
    -fx-border-width: 0px;
}

.scroll-pane .scroll-bar:vertical .thumb{
    -fx-background-color: #FFEBC6;
    -fx-border-width: 0px;
    -fx-background-radius: 5px;

}
